@import "base/base";
@import "components/navigation";

@import "generic/normalize";
@import "utilities/utilities";


.form--body{

    display: grid;
    gap: 1em;
    grid-template-areas: 
    "name email"
    "phone phone"
    "subject subject"
    "message message"
    ;

    #name{
        grid-area: name;
    }

    #email{
        grid-area: email;
    }

    #phone{
        grid-area: phone;
    }

    #subject{
        grid-area: subject;
    }

    #message{
        grid-area: message;
    }

}