/**
*   Buttons
**/
.btn {
  align-items: center;
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  display: inline-flex;
  font-size: clamp(0.8rem, 8vw, 1rem);
  letter-spacing: 1px;
  padding: 0.7rem 1rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text-primary);
}

/**
*   Cards
**/
.card-tray {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
}

.card {
  max-width: 250px;
  height: auto;
  padding: 1rem;
  position: relative;

  .card-header {
    align-items: center;
    display: flex;
    gap: 1rem;

    h3 {
      font-size: 0.85rem;
      letter-spacing: 1px;
      text-align: left;
    }

    svg {
      width: 64px;
      height: 64px;
    }
  }

  .card-body {
    text-align: left;
    padding-block: 1rem;

    p {
      font-size: clamp(0.8rem, 8vw, 0.95rem);
    }
  }

  .card-footer {
    display: flex;

    label {
      color: rgba($color: #000000, $alpha: 0.2);
      font-weight: bold;
      font-size: clamp(1.5rem, 10vw, 3rem);
    }
  }
}

.member-card {
  max-width: 250px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: hidden;

  .member-info {
    background: rgba($color: #ffffff, $alpha: 0.4);
    backdrop-filter: blur(10px);
    color: var(--text-secondary);
    display: grid;
    place-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    .title {
      display: flex;
      font-weight: bold;
      font-family: Helvetica, sans-serif;
      font-size: 0.9rem;
      letter-spacing: 1px;
      padding-block: 0.5rem;
      justify-content: center;
    }

    .name {
      font-size: clamp(1rem, 10vw, 1.5rem);
      padding-bottom: 1rem;
    }
  }
}

.member-card:hover > .member-info {
  cursor: pointer;
  transform: translateY(0%) translateY(0px);
  position: absolute;
  height: 100%;
}

/**
*   Containers
**/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/**
* Display
**/
.display-1 {
  font-size: clamp(1.5rem, 8vw, 3rem);
  font-family: sans-serif;
}

.display-3 {
  font-size: clamp(1rem, 8vw, 1.5rem);
  font-family: sans-serif;
}

/**
*   Font Weight
**/
.bold {
  font-weight: bold;
}

/**
* Logo
**/
.logo {
  height: 100px;
  display: flex;

  img {
    width: 100%;
    width: 100%;
    object-fit: contain;
    padding-block: 1rem;
  }
}

/**
* Navigation
**/
.nav {
  display: flex;

  .nav-item {
    padding-inline: 1rem;
    list-style: none;
    list-style-type: none;

    .nav-links {
      color: var(--text-primary);
      font-size: clamp(0.85rem, 10vw, 1rem);
      font-family: Helvetica, sans-serif;
      text-decoration: none;
    }
  }
}

/**
* Positioning
**/
.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

/**
* Section Titles
**/
.section-title {
  width: max-content;
  color: var(--primary);
  display: grid;
  position: relative;
  font-variant: small-caps;
}

.section-title::before {
  content: "";
  width: 40px;
  height: 0.4rem;
  display: flex;
  background-color: #af9a7e;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 2.2rem;
  bottom: 0;
  z-index: 1;
}

.section-title::after {
  content: "";
  width: 120px;
  height: 0.12rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 2.2rem;
  bottom: 0;
}
