/**
*   Buttons
**/
.btn {
  align-items: center;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  display: inline-flex;
  font-weight: bold;
  font-size: clamp(0.8rem, 8vw, 1rem);
  letter-spacing: 1px;
  padding: 0.8rem 1rem;
  justify-content: center;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text-secondary);
}

/**
*   Cards
**/
.card-tray {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  place-items: center;
  margin-block: 2rem;
}

.card-tray--flex {
  display: flex;
  gap: 2rem;
  padding-block: 1rem;
}

.card {
  max-width: 250px;
  height: auto;
  padding: 1rem;
  position: relative;

  .card-header {
    align-items: center;
    display: flex;
    gap: 1rem;

    h3 {
      font-size: 0.85rem;
      letter-spacing: 1px;
      text-align: left;
    }

    svg {
      width: 64px;
      height: 64px;
    }
  }

  .card-body {
    text-align: left;
    padding-block: 1rem;

    p {
      font-size: clamp(0.8rem, 8vw, 0.95rem);
    }
  }

  .card-footer {
    display: flex;

    label {
      color: rgba($color: #000000, $alpha: 0.2);
      font-weight: bold;
      font-size: clamp(1.5rem, 10vw, 3rem);
    }
  }
}

.member-card {
  min-width: 15rem;
  height: 350px;
  border-radius: 0.8rem;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1),
    0px 5px 8px 0px rgba(0, 0, 0, 0),
    0px 1px 14px 0px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;

  img {
    width: inherit;
  }

  .member-info {
    background: rgba($color: #224c8d, $alpha: 0.4);
    backdrop-filter: blur(10px);
    color: var(--text-secondary);
    display: grid;
    padding-block: 0.4rem;
    place-content: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    .title {
      display: flex;
      font-weight: bold;
      font-family: Helvetica, sans-serif;
      font-size: 0.9rem;
      letter-spacing: 1px;
      justify-content: center;
    }

    .name {
      font-size: clamp(1rem, 10vw, 1.25rem);
      text-align: center;
      letter-spacing: 1px;
    }

    .member-social {
      align-items: center;
      display: none;
      gap: 1rem;
      justify-content: center;

      a {
        background-color: var(--primary);
        border-radius: 100vmax;
        overflow: hidden;
        padding: 0.4em;
      }

      svg {
        width: 1.2em;
        height: 1.2em;
        fill: var(--text-secondary);
        margin: 0.4rem;
      }
    }
  }
}

.project-card>* {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.project-card {
  max-width: 300px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: grid;
  isolation: isolate;
  place-items: center;
  overflow: hidden;
  position: relative;
  transform: translateY(0);

  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
  }
}

.project-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba($color: #224c8d, $alpha: 0.5);
  backdrop-filter: blur(10px);
  display: grid;
  position: absolute;
  place-items: center;
  transform: translateY(100%);
  transition: ease-in-out 500ms;
}

.project-card:hover::after {
  content: "View Project";
  border-radius: inherit;
  font-family: sans-serif;
  font-size: clamp(1rem, 3vw, 1.2rem);
  letter-spacing: 1px;
  position: absolute;
  transform: translateY(0);
  text-transform: uppercase;
}

.member-card:hover>.member-info {
  cursor: pointer;
  transform: translateY(0%) translateY(0px);
  position: absolute;
  height: 100%;

  .member-social {
    display: flex;

    a:hover {
      background-color: var(--secondary);

      svg {
        fill: var(--text-primary);
      }
    }
  }
}

/**
*   Containers
**/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/**
* Display
**/
.display-1 {
  font-size: clamp(1.5rem, 8vw, 3rem);
  font-family: sans-serif;
}

.display-3 {
  font-size: clamp(1rem, 8vw, 1.5rem);
  font-family: sans-serif;
}

/**
*   Font Weight
**/
.bold {
  font-weight: bold;
}

/**
* Logo
**/
.logo--container {
  grid-area: logo;
}

.logo {
  height: clamp(75px, 8vw, 100px);
  display: flex;

  img {
    width: 100%;
    width: 100%;
    object-fit: contain;
    padding-block: 1rem;
  }
}

/**
* Navigation
**/
@media (min-width: 996px) {
  .nav {
    display: flex !important;
  }
}

@media (max-width: 996px) {
  .show {
    box-shadow: 0 0 2px rgba($color: #224c8d, $alpha: 0.5);
    display: flex !important;
    margin-bottom: 1rem;
  }

  .nav {
    align-items: center;
    background-color: #fff;
    color: #000000 !important;
    display: none;
    flex-direction: column !important;
    gap: 1rem;
    justify-content: center;

    .nav-item {
      width: 100%;

      .nav-links {
        display: grid;
        color: currentColor !important;
        padding: 1rem;
        place-content: center;
      }
    }

    .nav-item:hover {
      background-color: var(--primary);
      color: var(--text-secondary);
    }
  }
}

.nav {
  grid-area: navBar;
}

.nav-item {
  padding-inline: 1rem;
  list-style: none;
  list-style-type: none;
  font-variant: small-caps;

  .nav-links {
    color: var(--text-secondary);
    font-size: clamp(0.85rem, 10vw, 1rem);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
  }
}

.nav-links:hover {
  color: cornflowerblue;
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.1em;
}

/**
* Positioning
**/
.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

/**
* Section Titles
**/
.section-title {
  width: max-content;
  color: var(--primary);
  display: grid;
  position: relative;
  font-variant: small-caps;
}

.section-title::before {
  content: "";
  width: 40px;
  height: 0.4rem;
  display: flex;
  background-color: #af9a7e;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 2.2rem;
  bottom: 0;
  z-index: 1;
}

.section-title::after {
  content: "";
  width: 120px;
  height: 0.12rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 2.2rem;
  bottom: 0;
}

/**
* Inputs and Textarea
**/
input,
textarea {
  border: none;
  border: 2px solid rgba($color: #ffffff00, $alpha: 1);
  border-bottom: 2px solid rgba($color: #224c8d, $alpha: 0.4);
  font-size: clamp(12px, 3vw, 16px);
  outline: none;
  padding: 0.6rem;
  letter-spacing: 1px;
}

input {
  display: inline-flex;
}

input:focus-within {
  border-bottom: 2px solid rgba($color: #224c8d, $alpha: 1);
}

textarea {
  resize: none;
}

textarea:focus-within {
  border: 2px solid rgba($color: #224c8d, $alpha: 1);
}