@media (min-width: 996px) {
  .navbar {
    align-items: center;
    display: flex !important;
    justify-content: space-between;

    .navToggle {
      display: none !important;
    }
  }
}

.navbar {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "logo navToggle"
    "navBar navBar";
}

.navigation {
  width: 100%;
  color: var(--text-secondary);
  position: fixed;
  z-index: 5;

  .navToggle:hover {
    zoom: 1.5 !important;
  }

  .navToggle {
    width: max-content;
    height: max-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--text-secondary);
    padding: 0.6em;
    grid-area: navToggle;
    transition: ease-in-out 300ms;

    svg {
      width: 35px;
      height: 35px;
    }
  }
}

.scrolled {
  height: 75px;
  background-color: rgba($color: #224c8d, $alpha: 0.875);
  color: var(--text-primary);

  .navbar {
    height: inherit;
  }
}
