:root {
  --primary: #224c8d;
  --secondary: #f0f8ff;
  --text-primary: #ffffff;
  --text-secondary: #000000;
}

@media (min-width: 768px) {
  .navbar {
    align-items: center;
    display: flex !important;
    justify-content: space-between;
  }
}
.navigation {
  width: 100%;
  position: absolute;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/**
*   Buttons
**/
.btn {
  align-items: center;
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  display: inline-flex;
  font-size: clamp(0.8rem, 8vw, 1rem);
  letter-spacing: 1px;
  padding: 0.7rem 1rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text-primary);
}

/**
*   Cards
**/
.card-tray {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-items: center;
  margin-block: 2rem;
}

.card-tray--flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}

.card {
  max-width: 250px;
  height: auto;
  padding: 1rem;
  position: relative;
}
.card .card-header {
  align-items: center;
  display: flex;
  gap: 1rem;
}
.card .card-header h3 {
  font-size: 0.85rem;
  letter-spacing: 1px;
  text-align: left;
}
.card .card-header svg {
  width: 64px;
  height: 64px;
}
.card .card-body {
  text-align: left;
  padding-block: 1rem;
}
.card .card-body p {
  font-size: clamp(0.8rem, 8vw, 0.95rem);
}
.card .card-footer {
  display: flex;
}
.card .card-footer label {
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: clamp(1.5rem, 10vw, 3rem);
}

.member-card {
  width: 250px;
  min-height: 100%;
  border-radius: 8px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  overflow: hidden;
}
.member-card img {
  width: 100%;
  height: 100%;
}
.member-card .member-info {
  background: rgba(240, 248, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: var(--text-secondary);
  display: grid;
  place-content: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.member-card .member-info .title {
  display: flex;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding-block: 0.5rem;
  justify-content: center;
}
.member-card .member-info .name {
  font-size: clamp(1rem, 10vw, 1.5rem);
  padding-bottom: 1rem;
  text-align: center;
}
.member-card .member-info .member-social {
  align-items: center;
  display: none;
  gap: 1rem;
  justify-content: center;
}
.member-card .member-info .member-social a {
  background-color: var(--primary);
  border-radius: 100vmax;
  overflow: hidden;
  padding: 0.4em;
}
.member-card .member-info .member-social svg {
  width: 1.5em;
  height: 1.5em;
  fill: var(--text-primary);
  margin: 0.4rem;
}

.project-card > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.project-card {
  max-width: 300px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: grid;
  isolation: isolate;
  place-items: center;
  overflow: hidden;
  position: relative;
  transform: translateY(0);
}
.project-card img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.project-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(34, 76, 141, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: grid;
  position: absolute;
  place-items: center;
  transform: translateY(100%);
  transition: ease-in-out 500ms;
}

.project-card:hover::after {
  content: "View Project";
  border-radius: inherit;
  font-family: sans-serif;
  font-size: clamp(1rem, 10vw, 1.2rem);
  letter-spacing: 1px;
  position: absolute;
  transform: translateY(0);
  text-transform: uppercase;
}

.member-card:hover > .member-info {
  cursor: pointer;
  transform: translateY(0%) translateY(0px);
  position: absolute;
  height: 100%;
}
.member-card:hover > .member-info .member-social {
  display: flex;
}

/**
*   Containers
**/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/**
* Display
**/
.display-1 {
  font-size: clamp(1.5rem, 8vw, 3rem);
  font-family: sans-serif;
}

.display-3 {
  font-size: clamp(1rem, 8vw, 1.5rem);
  font-family: sans-serif;
}

/**
*   Font Weight
**/
.bold {
  font-weight: bold;
}

/**
* Logo
**/
.logo {
  height: 100px;
  display: flex;
}
.logo img {
  width: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding-block: 1rem;
}

/**
* Navigation
**/
.nav {
  display: flex;
}
.nav .nav-item {
  padding-inline: 1rem;
  list-style: none;
  list-style-type: none;
}
.nav .nav-item .nav-links {
  color: var(--text-primary);
  font-size: clamp(0.85rem, 10vw, 1rem);
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

/**
* Positioning
**/
.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

/**
* Section Titles
**/
.section-title {
  width: -moz-max-content;
  width: max-content;
  color: var(--primary);
  display: grid;
  position: relative;
  font-variant: small-caps;
}

.section-title::before {
  content: "";
  width: 40px;
  height: 0.4rem;
  display: flex;
  background-color: #af9a7e;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 2.2rem;
  bottom: 0;
  z-index: 1;
}

.section-title::after {
  content: "";
  width: 120px;
  height: 0.12rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 2.2rem;
  bottom: 0;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.body-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.main-header {
  height: auto;
}
@media (max-width: 996px) {
  .main-header .hero {
    min-height: 400px !important;
  }
}
.main-header .hero {
  max-height: 800px;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.main-header .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.main-header .hero .hero--contentContainer {
  color: #fff;
  letter-spacing: 1px;
}
.main-header .hero .hero--contentContainer p {
  max-width: 55ch;
}
.main-header .hero .hero--contentContainer .hero--text {
  font-size: clamp(0.8rem, 10vw, 1rem);
  font-family: sans-serif;
  line-height: 1.5;
  padding-block: 1rem;
}
.main-header .hero .hero--contentContainer .hero--button__container {
  max-width: inherit;
  display: flex;
  gap: 1rem;
}
.main-header .hero .hero--contentContainer .clients {
  display: inline-flex;
  flex-direction: column;
  padding-block: 1rem;
}
.main-header .hero .hero--contentContainer .clients h6 {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-family: sans-serif;
}
.main-header .hero .hero--contentContainer .clients h6 span {
  height: 1px;
  width: 33px;
  background-color: #fff;
  display: flex;
}
.main-header .hero .hero--contentContainer .clients .clientLogos {
  display: inline-flex;
}
.main-header .hero .hero--contentContainer .clients .client-logo {
  width: 125px;
  display: block;
}
.main-header .hero .hero--contentContainer .clients .client-logo svg {
  fill: #fff;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-header .hero > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

/**
* Main Content Container
**/
.main {
  margin-bottom: 2rem;
}

/**
* Sections
**/
section.about,
section.services,
section.projects,
section.team {
  padding-block: 2rem;
}
section.about .section-title,
section.services .section-title,
section.projects .section-title,
section.team .section-title {
  margin-block: 2rem;
}

/**
* Section About
**/
section.about {
  align-items: center;
  display: flex;
  flex-direction: column;
}
section.about .about--contentContainer {
  display: grid;
  font-family: Helvetica, sans-serif;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
section.about .about--contentContainer #about-contentLeft {
  line-height: 1.5;
}
section.about .about--contentContainer #about-contentLeft ol {
  margin-block: 2rem;
  padding-left: 1rem;
  list-style: square;
}
section.about .about--contentContainer #about-contentLeft ol li {
  padding-bottom: 1rem;
}
section.about .about--contentContainer #about-contentRight {
  line-height: 1.5;
}
section.about .about--contentContainer #about-contentRight button {
  margin-block: 2rem;
}

/**
* Section Services
**/
section.services {
  align-items: center;
  display: flex;
  flex-direction: column;
}
section.services #servicesContainer {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
}
section.services #servicesContainer .card {
  margin-block: 2rem;
  border-radius: 8px;
  transition: ease-in-out 700ms;
}
section.services #servicesContainer .card:hover {
  background-color: aliceblue;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: scale(1.05);
}
section.services #servicesContainer .card:hover .card-footer > label {
  color: var(--primary);
  text-shadow: 5px 3px 0px #af9a7e;
}

/**
* Section Projects
**/
section.projects {
  background-color: var(--secondary);
}
section.projects .projects--content__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
section.projects .projects--content__container #projects--content__paragraph {
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
}
section.projects .projects--content__container #projects--itemContainer {
  width: 100%;
}

/**
* Section Team
**/
section.team {
  align-items: center;
  display: flex;
  flex-direction: column;
}
section.team #team--paragraph {
  font-family: Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-block: 2rem;
}
section.team #team--memberContainer {
  width: 100%;
}

.footer {
  background-color: #f0f8ff;
  margin-top: auto;
}
.footer #footer--contentConainter {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 250px;
  margin-block: 2rem;
  place-content: center;
}
.footer #footer--contentConainter .footer--title {
  width: 100%;
  color: var(--primary);
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  margin-bottom: 2rem;
}
.footer #footer--contentConainter .company__Info {
  display: flex;
  font-size: 0.95rem;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
}
.footer #footer--contentConainter .company__Info img {
  padding-bottom: 1rem;
  margin-left: -0.6rem;
}
.footer #footer--contentConainter .company__Info p {
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
@media (min-width: 996px) {
  .footer #footer--contentConainter .footer__nav {
    align-items: center !important;
    flex-wrap: nowrap !important;
    flex-direction: column;
    justify-content: space-around;
    margin: auto !important;
  }
}
.footer #footer--contentConainter .footer__nav {
  display: flex;
  flex-wrap: wrap;
}
.footer #footer--contentConainter .footer__nav ul {
  display: block;
}
.footer #footer--contentConainter .footer__nav ul li {
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem;
}
.footer #footer--contentConainter .footer__nav ul li a {
  color: currentColor;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
.footer #footer--contentConainter .footer__nav ul li:hover {
  color: var(--primary);
  transform: scale(1.05);
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.15em;
}
.footer #footer--contentConainter .social {
  display: flex;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
}
.footer #footer--contentConainter .social p {
  line-height: 1.5;
}
.footer #footer--contentConainter .social .social__Container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin-block: 1rem;
}
.footer #footer--contentConainter .social .social__Container svg {
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  border-radius: 100vmax;
  fill: #fff;
  padding: 0.5rem;
}
.footer #copyright {
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */